/*color*/
/* 
60% #ad8a52
30% #152136
10% #ffffff
*/

:root {

    /* var(--dominantColor) !important; */
    --dominantColor: #ad8a52;

    /* var(--secondaryColor) !important; */
    --secondaryColor: #152136;

    /* var(--accentColor) !important; */
    --accentColor: #5182AD;

    --boxShadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.35);
    /* var(--boxShadow) !important; */
}